*.c
*.geany
*.h
*.la
*.lo
*.o
*.pc
*.stamp
*.vapi
*Makefile
*Makefile.in
aclocal.m4
autoscan.log
compile
config.*
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
autom4te.cache/
m4/
*.deps/
*.libs/
